<div class="center jumbotron">
     <h1>BETA BLOG</h1>
     <!-- <%= link_to 'Beta Blog', articles_path %> | <%= link_to 'About', about_path%> -->
     <%= link_to 'Sign Up now', '#', class: "btn btn-danger btn-lg  btn-xlarge" %>
 </div>